
// Signup
.signup, .login {

    .signupForm, .loginForm {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .left {
            text-align: center;
            h1 {
                font-size: 42px;
                margin-bottom: 20px
            }

            img {
                width: 28em;
            }
        }

        .right {
            color: #FFF;
            background-color: var(--blu2);
            width: 34em;
            // height: 18em;
            border-radius: 10px;
            border: 4px solid var(--yell);
            padding: 15px;

            .title {
                margin-bottom: 20px;
                h2 {
                    font-size: 28px;
                }

                p {
                    margin-top: 5px;
                }
            }

            form {

                .inp {
                    display: flex;
                    flex-direction: column;
                    width: 60%;
                    margin-bottom: 10px;

                    label {

                    }

                    input {
                        height: 2.2em;
                        margin-top: 8px;
                        border: none;
                        border-radius: 3px
                    }
                }

                p {

                    a {
                        color: var(--yell);
                        text-decoration: underline;
                    }
                }

                button {
                    margin-top: 20px
                }
            }
        }
    }
}